<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="footer">
    <div class="content has-text-centered">
        <p class="is-size-7">
            <strong>Gardenzilla Kft</strong><br>
        </p>
        <p class="subtitle is-size-7">
            Kert és otthon áruház
        </p>
        <p class="is-size-7">
            cégjegyzékszám: 15-09-088341, adószám: 29149379-2-15,<br>
            székhely: 4522 Nyírtass, Ady út 11. <br>
        </p>
        <p class="is-size-7">
            <i>Minden jog fenntartva 2021</i>
        </p>
    </div>
</footer>