.right {
  margin-right: 0;
  margin-left: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

// nav {
//   position: fixed;
//   top: 0px;
//   display: flex;
//   width: 100%;
//   flex-flow: row wrap;
//   justify-content: center;
//   gap: 20px;
//   background-color: white;
//   z-index: 777;

//   .n-item {

//     padding-top: 15px;
//     padding-bottom: 15px;

//     .brand {
//       img {
//         max-width: 30px;
//       }
//     }

//   }
// }